# npm
node_modules/
package-lock.json
pnpm-lock.yaml
pnpm-debug.log
*.tgz

# built files
dist/
.cache/
build/

# config files
.env
.husky/_
.last

# test report files
.nyc_output
coverage/

# output files
/erd.txt
/migrate.ts
