dist/
pnpm-lock.yaml
*.macro.ts
src/assets/*
src/components.d.ts
src/polyfill-array.ts
coverage/
.nyc_output/
examples/node-project/migrations/*_init.ts
examples/node-project/migrations/*_auto-migrate.ts
examples/node-project/proxy.ts
.trunk
tsconfig.json
