body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  overflow: hidden;
}

:root {
  --padding: 0.5em;
}

header {
  padding: var(--padding);
  background-color: steelblue;
  height: 2em;
}

button {
  /* # height: 1em + 0.25em * 2 = 1.5em */
  text-transform: capitalize;
  font-size: 1em;
  margin: 0;
  padding: 0.25em;
  line-height: 1em;
  // # to normalize square button in chrome
  // border: 0.1em solid transparent;
  // background-color: white;
  // border-radius: 0.25em;
}

main {
  height: calc(100vh - 1.5em - 1em);
  display: flex;
  background-color: whitesmoke;
  width: 100vw;
}

#editor {
  width: max-content;
  // flex-shrink: 1;
  overflow: hidden;
  background-color: cornflowerblue;
  textarea {
    overflow: auto;
    background-color: transparent;
    resize: horizontal;
    font-family: "Courier New", Courier, monospace;
    padding: var(--padding);
    border: 0;
    width: calc(100% - var(--padding) * 2);
    --scroll-bar: 1em;
    &::-webkit-scrollbar {
      height: var(--scroll-bar);
      width: var(--scroll-bar);
    }
    &::-webkit-scrollbar-track-piece {
      background-color: lightgray;
    }
    &::-webkit-scrollbar-thumb {
      background-color: gray;
      border-radius: 1em;
    }
    &::-webkit-scrollbar-button {
      background-color: lightskyblue;
    }
    &::-webkit-scrollbar-corner {
      background-color: crimson;
    }
    height: calc(100% - var(--padding) * 2 - var(--scroll-bar));
    margin: 0;
    margin-bottom: var(--scroll-bar);
    white-space: pre;
    // outline: none; // to normalize chrome behavior when :focus-visible
  }
}
#diagram {
  padding: var(--padding);
  background-color: whitesmoke;
  // width: 70%;
  flex-grow: 1;
  overflow: auto;
  position: relative;
  svg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

dialog[open] {
  position: absolute;
  top: 25%;
}

.danger {
  background-color: red;
  color: white;
}
.cancel {
  background-color: black;
  color: white;
}

[data-table] {
  outline: 1px solid black;
  background-color: white;
  display: inline-block;
  user-select: none;
  position: absolute;
  z-index: 1;
  table {
    border-collapse: collapse;
  }
}
.table-title {
  background-color: cornflowerblue;
  color: white;
  padding: 0.5em;
}
.table-field-name {
  text-align: start;
}
.table-field-type {
  text-align: end;
}
[data-table-field] td {
  padding: 0.25em;
}
.table-field-tag {
  border-right: 1px solid;
}
.table-field-type {
  border-left: 1px solid;
}
